<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Hi! I'm Chatbuddy!</h2>
        <div id="messages">
            <div class="messages"><p>How can I help you?</p></div>
        </div>
        <form id="message-form">
            <input type="text" id="message-input" name="message" placeholder="Type your message..." required>
            <input type="submit" value="Send">
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
